.navbar-brand {
  font-family: "Viga", sans-serif;
  font-size: 32px;
  text-shadow: 0 0 1px rgb(0, 0, 0, 0.6);
}

.nav-link {
  text-transform: uppercase;
  margin-left: 12px;
  font-size: 14px;
  opacity: 0.9;
}

a .nav-link:hover {
  font-size: 20px;
}

.jumbotron {
  height: 500px;
  background-color: white;
}

.jumbotron .display-4 {
  font-size: 45px;
  margin-top: 100px;
}

.jumbotron p {
  font-size: 16px;
  margin-top: 20px;
}

.jumbotron img {
  width: 700px;
}
